/* Change background color and font family */
body {
  background-image: url('login_bg.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

/* Defines the login div box */
.login #login {
  width: 320px;
  padding: 8% 2% 1%;
  margin: auto;
  background-color: rgba(255,255,255,0.7);
}

/* Change Width and Height of Logo Image + Add Custom Image File */
.login h1 a {
  background-image: url('allwaysspain_logo.svg');
  width: 300px;
  height: 98px;
  background-size: 300px 98px;
}

/* Add a few changes to the color and style of form itself */
.login label {
  color: #454545;
  display: block;
  margin-bottom: 1em;
  font-weight: bold;
}

.login form {
  border-radius: 6px;
}
.login form .input {
  font-weight: normal;
}

.login #backtoblog,
.login #nav,
.login #login-footer {
  text-align: center;
}

.login #backtoblog a,
.login #nav a,
.login #login-footer a {
  color: #e76400;
  text-decoration: none;
}

.login #backtoblog a:hover,
.login #nav a:hover,
.login #login-footer a:hover {
  color: #e76400;
  text-decoration: underline;
}

.login #login-footer {
  width: 320px;
  padding: 0 2% 1%;
  margin: auto;
  border-radius: 0 0 6px 6px;
  background-color: rgba(255,255,255,0.7);
}

.wp-core-ui .button-primary {
  background: #5cb85c;
}